mat-grid-tile {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.tile1 {
  background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size: 140%;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic
}

.tile2 {
  background: #8360c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size: 200%;
  font-family: 'Josefin Sans', sans-serif;
  
}

.tile3 {
  background-color: #FFAB00
}

h3 {
  color: white;
  text-align: center;
  padding: 8%
}