body {
  font-family: 'Segoe UI', 'San Francisco', Calibri, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
  
}

.c-preview {
  background: #000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #000000 0%,#000000 25%,#1e539e 50%,#ff3083 75%,#7800a8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #000000 0%,#000000 25%,#1e539e 50%,#ff3083 75%,#7800a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 400% 400%;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 40vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  transition: 1.8s all;
  
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    background: #000 url(https://live.staticflickr.com/5241/5217626234_2f679ab7fe_o.jpg) no-repeat center center;
  background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    mix-blend-mode: screen;
  }
  
  &__title {
    position: relative;
    z-index: 10;
    text-transform: lowercase;
    letter-spacing: .02em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 250%;
  }
  
  &:hover {
    background-position: 100% 100%;
    
    &__title {
      text-shadow: 0 0 20px rgba(0,0,0,1);
    }
  }
}