/* All Fonts */
@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Raleway|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


p {
  font-family: Lato;
}



