/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
}

.Advert {
  margin: 20px;
  color: #484848;
  font-weight: lighter;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px
}

.sidenav-container {
  width: 100%;
  margin: 0px;
  border: 0px #eeeeee;
  background-color: #eeeeee;
}

mat-drawer {
  width: 200px;
  background-color: #cfd8dc;
}

.footer {
    line-height: 2.0rem;
    z-index: 0;
    background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-weight: 300;
    padding: 30px;
    height: 50px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Lexend Deca', sans-serif;
    position: relative
}

