/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  margin: 0;
  position: relative;
  height: 100%
}

.Advert {
  margin: 20px;
  color: #484848;
  font-weight: lighter;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px
}

.sidenav-container {
  width: 100%;
  position: relative;
  margin: 0px;
  border: 0px #eeeeee;
  background-color: #eeeeee;
  display: flex;
  flex: 1 1 auto
}

mat-drawer {
  width: 300px;
  background-color: #cfd8dc;
}

.footer {
    line-height: 2.4rem;
    z-index: 0;
    background-color: #ff5722;
    font-weight: 300;
    padding: 48px;
    height: 50px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Lexend Deca', sans-serif;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    position: relative
}