<div class="container-top">
<app-topper></app-topper>
</div>
<div class="container-list">
<mat-drawer-container class="sidenav-container" >
  <mat-drawer mode="side" #sidenav [opened]="openSidenav" >
    <p class="Advert">Advertisement</p>
  </mat-drawer>
  <mat-drawer-content>
  <app-grid> </app-grid>
  <div class="container">
  <mat-card class="twitter-card">
    <h3 style="font-size: 25px">LIVE BOX</h3>
    <a class="twitter-timeline" data-height="520px" data-width="100%" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/BotBusking?ref_src=twsrc%5Etfw"><mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar></a>
  </mat-card>
  </div>
  <mat-divider></mat-divider>
  <p class="title">Buskers</p>
<div class="grid">
<div *ngFor="let busker of buskers | slice:0:8; let i=index; index as buskerId;">
  
<mat-card class="card" [routerLink]="['/buskers', buskerId]" matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color">
  <img mat-card-image [src]="busker.image" alt="Photo of {{ busker.name }}">
  <mat-card-header >
    <mat-card-title>{{ busker.name }}</mat-card-title>
    <mat-card-subtitle style="color:white;">{{ busker.description }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

</div>
</div>

<button mat-raised-button color="warn" [routerLink]="['/buskers']" >More Buskers</button>

  </mat-drawer-content>
</mat-drawer-container>
<div class="footer">
  <p> Follow on Twitter:
  <a href="https://twitter.com/BotBusking"> twitter.com/BotBusking </a>
  </p>
</div>  
</div>