mat-grid-tile {
  background: lightblue;
}

.twitter-card {
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #292F33;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 800px;
  flex-grow: 1;
  margin: 10px;
  margin-top: 35px;
  margin-bottom: 35px;
}

h3 {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  text-align: center;
  margin: 0px
}

.container {
  width: 80vw;
  min-width: 90%;
  max-width: 800px;
  margin: 0 auto;
  -webkit-justify-content: center; /_ Safari _/
  justify-content: center;
  display: flex;
}

.container-list {
	width: 100%;
  position: absolute;
	top: 46.8vh;
  background-color: #eeeeee;
}

mat-drawer-content {
  height: 100%
}

.container-top {
	width: 100%;
	position: absolute;
}

mat-progress-bar {
  margin-top:20px;
  margin-bottom:20px
}

/* buskers */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1.2rem;
  max-width: 900px;
  padding: 25px;
  background-color: #eeeeee;
  padding-top: 15px;
  margin:auto;
}

button {
  margin:auto;
  display:block;
  margin-bottom: 50px
}

.card {
  border-radius: 7px;
  background-color: #263238;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  text-align: left;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}


mat-card-title {
  cursor: pointer;
  font-family: 'Lexend Deca', sans-serif;
}

.header-image {
  cursor: pointer;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
  padding: 0;
  margin-top: 20;
  margin-bottom: 8px;
  font-weight: 700;
  text-align: center;
}
