<app-topper></app-topper>
<mat-drawer-container class="sidenav-container">
  <mat-drawer mode="side" #sidenav [opened]="openSidenav" >
    <p class="Advert">Advertisement</p>
  </mat-drawer>
  <mat-drawer-content>
  <div class="container-list">
  <div class="container">
  <mat-card class="twitter-card">
    <h3 style="font-size: 25px">LIVE BOX</h3>
    <a class="twitter-timeline" data-height="520px" data-width="100%" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/BotBusking?ref_src=twsrc%5Etfw">Tweets from our Robot</a>
  </mat-card>
  </div>
  </div>
  </mat-drawer-content>
</mat-drawer-container>
<div class="footer">
  <p> Follow on Twitter:
  <a href="https://twitter.com/BotBusking"> twitter.com/BotBusking </a>
  </p>
</div>  