iframe {
  visibility:hidden;
}

mat-spinner {
  margin:auto;
  display:block;
  top: 45%;
  left: 45%;
  position: absolute;
}

h3 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 50px;
  padding-top: 6px;
  padding-left: 6px;
  margin-bottom: 2%
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px
}

.card-title {
  font-size: 40px;
  padding: 10px;
}

.mat-card {
  margin: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border:2px solid #DD2C00;
}

.mat-expansion-panel {
  margin: 15px;
  background-color: #FBE9E7;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0px;
  border:3px solid #FF5722;
  flex-grow: 1;
}

mat-expansion-panel-header {
  font-size: 15px;
  font-weight: bold;
}

.header-name {
  padding-bottom: 30px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 50px;
  padding-top: 6px;
  padding-left: 6px;
  margin-left: 25px;
  margin-right: 30px
}

.details-container {
  margin: auto;
  max-width: 800px;
}

.social-media {
  text-align: center;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: White;
  margin-left: 30px;
  margin-right: 30px;
  border:2px solid #263238;
}

.socials-margin {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px

}

.example-button-row button,
.example-button-row a {
  margin: 12px;
  margin-top: 10px;
  padding: 0px
}

.mat-twitter {
    background-color: #1DA1F2;
    color: #fff;
}

.mat-insta {
    background-color: #E1306C;
    color: #fff;
}

.mat-youtube {
    background-color: #FF0000;;
    color: #fff;
}

.mat-facebook {
  background-color: #0D47A1;
  color: #fff;
}